{% extends 'base.html' %} {% block head %}
<title>{{ title }}</title>
{% endblock %} {% block body %}
<div class="top-container"></div>

<div class="text-container" id="top-output">
  <p id="text-scene">
    Image
    <span style="font-size: 30px"
      >{{ current_order }}/{{ len_idx }}</span
    > <span style="font-size: 30px; color: yellow; margin-left: 307px;">{{finish_text}}</span>
  </p>
</div>

<div class="img-0-container">
  <div id="img-0">
    <img class="img" src="{{ img_paths[0]}}" alt="img_0" />
  </div>
</div>

<div class="img-container">
  <div id="img-1">
    <img class="img" src="{{ img_paths[1] }}" alt="img_1" />
  </div>
  <div id="img-2">
    <img class="img" src="{{ img_paths[2] }}" alt="img_2" />
  </div>
  <div id="img-3">
    <img class="img" src="{{ img_paths[3] }}" alt="img_3" />
  </div>
  <div id="img-4">
    <img class="img" src="{{ img_paths[4] }}" alt="img_3" />
  </div>
</div>

{% if form_display == True %}

<div class="left-container">

  <p class="question" style="{{ q1_q2_display }}">Q1. Does the focus area contain <span style="color: yellow; font-weight: bold">necessary</span> details related to gender classification?</p>
  <p class="question" style="{{ q1_q2_display }}">
    Q2. Does the focus area contain <span style="color: yellow; font-weight: bold">unnecessary</span> details related to gender classification?
  </p>
  
  <p class="question">
    <span style="{{ q1_q2_display }}">Q3. </span>Overall, please rate the quality of the focus:
  </p>

</div>

<div class="question-container">
  <form action="/" method="POST" id="form-reason">
    {{ form.hidden_tag() }}

    <div class="q-1" style="{{ q1_q2_display }}">
      <div id="q-1-1" class="selection">
      {% for subfield in form.reason_input_1 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      
      <div id="q-1-2" class="selection">
      {% for subfield in form.reason_input_2 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %} 
    </div>
      <div id="q-1-3" class="selection">
      {% for subfield in form.reason_input_3 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      <div id="q-1-4" class="selection">
      {% for subfield in form.reason_input_4 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
    </div>


    <div class="q-2" style="{{ q1_q2_display }}">
      <div id="q-2-1" class="selection">
      {% for subfield in form.reason_input_5 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      <div id="q-2-2" class="selection">
      {% for subfield in form.reason_input_6 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br> 
      {% endfor %}
    </div>
      <div id="q-2-3" class="selection">
      {% for subfield in form.reason_input_7 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      <div id="q-2-4" class="selection">
      {% for subfield in form.reason_input_8 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
    </div>

    <div class="q-3">
      <div id="q-3-1" class="selection-2">
      {% for subfield in form.reason_input_9 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      <div id="q-3-2" class="selection-2">
      {% for subfield in form.reason_input_10 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br> 
      {% endfor %}
    </div>
      <div id="q-3-3" class="selection-2">
      {% for subfield in form.reason_input_11 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
      <div id="q-3-4" class="selection-2">
      {% for subfield in form.reason_input_12 %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      </br>
      {% endfor %}
    </div>
    </div>

    <div class="btn-container">
    <button class="btn" id="submit-btn">Submit and go to the next</button>
    </div>
  </form>
  {% endif %}
  
</div>

<script></script>

{% endblock %}
